body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(3,9,19,255);
}

nav {
    background-color: rgba(3,9,19,255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    height: 50px; /* Ajustez la hauteur selon vos besoins */
    margin: 10px 20px; /* Ajoutez un peu d'espace autour du logo */
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
    margin: auto;
}

.navbar a:hover::after {
    width: 100%;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: 0.4s;
}

/* Hide menu by default */
.navbar {
    display: none;
}

.navbar.show {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.banner {
    padding: 10px 0;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
}

.banner h1 {
    font-size: 40px;
    margin-top: 20px;
}

.banner img {
    width: 80%;
    height: auto;
}

.banner p {
    font-size: 20px;
    margin-top: 20px;
    padding: 0 10px;
}

.banner .button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-discord, .button-douane {
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #7289da;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
    display: inline-block;
    width: 80%;
    max-width: 200px;
}

.button-discord:hover, .button-douane:hover {
    background-color: #5b6eae;
    transform: scale(1.1);
}

/* Media Queries for responsiveness */
@media (min-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        max-width: 1000px;
        margin: auto;
    }

    .hamburger {
        display: none;
    }

    .banner h1 {
        font-size: 50px;
    }

    .banner p {
        font-size: 25px;
    }

    .banner .button-container {
        flex-direction: row;
        gap: 20px;
    }

    .button-discord, .button-douane {
        font-size: 20px;
        width: 200px;
    }
}

@media (min-width: 768px) {
    .logo {
        height: 60px;
    }

    .banner h1 {
        font-size: 60px;
    }

    .banner p {
        font-size: 30px;
    }

    .banner img {
        width: 40%;
    }
}

@media (max-width: 600px) {
    .hamburger {
        display: flex;
    }

    .navbar {
        display: none;
    }

    .navbar.show {
        display: flex;
    }
}
